@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* -------------------------------------------------------------------------- */
/*                                    Vars                                    */
/* -------------------------------------------------------------------------- */
:root {
  --rounding-size: 16px;
  --divider-size: 65px;
  --marquee-count: 5;

  --color-accent-1: 242, 52, 0;
  --color-accent-2: 255, 183, 0;
  
  --coregrad: linear-gradient(
    45deg,
    rgb(var(--color-accent-1)),
    rgb(var(--color-accent-2))
  );

  --color-positive: rgba(35, 209, 96, 1);
  --color-neutral_blue: rgba(47, 128, 237, 1);
  --color-important_red: rgba(254, 62, 70, 1);

  --color-bg: rgba(254, 254, 254, 1);
  --color-inv_bg: rgba(246, 246, 246, 1);
  --color-fg: rgba(254, 254, 254, 1);
  --color-fg_border: rgba(236, 236, 236, 1);
  --color-section_bg: rgba(254, 254, 254, 1);
  --color-section_border: rgba(225, 225, 225, 1);
  --color-section_inv_bg: rgba(254, 254, 254, 1);
  --color-section_inv_border: rgba(225, 225, 225, 1);
  --color-subtext: rgba(76, 86, 106, 0.5);
  --color-text: rgba(46, 52, 64, 1);
  --color-extreme: rgba(0, 0, 0, 1);
  --color-shades_3: rgba(236, 236, 236, 1);
  --color-shades_4: rgba(225, 225, 225, 1);

  --size-section_border: 2px;
  --is-dark: 0;

  --text-8: 7.500rem;
  --text-7: 5.625rem;
  --text-6: 4.188rem;
  --text-5: 3.188rem;
  --text-4: 2.375rem;
  --text-3: 1.750rem;
  --text-2: 1.312rem;
  --text-1: 1rem;
  --text--1: 0.75rem;
  --text--2: 0.562rem;
}

.dark-mode {
  --color-bg: rgba(18, 18, 18, 1);
  --color-inv_bg: rgba(28, 28, 28, 1);
  --color-fg: rgba(55, 55, 55, 1);
  --color-fg_border: rgba(63, 63, 63, 1);
  --color-section_bg: rgba(28, 28, 28, 1);
  --color-section_inv_bg: rgba(43, 43, 43, 1);
  --color-section_inv_border: rgba(29, 29, 29, 1);
  --color-subtext: rgba(120, 120, 120, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-extreme: rgba(255, 255, 255, 1);
  --color-shades_3: rgba(31, 31, 31, 1);
  --color-shades_4: rgba(32, 32, 32, 1);

  --size-section_border: 0px;
  --is-dark: 1;
}
/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden;
  /* transition: all 500ms; */
}

h1 {
  line-height: 1em;
}

img, .no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@keyframes coreanim {
  0% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shubanim {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -45deg;
  }
  60% {
    rotate: -45deg;
  }
  100% {
    rotate: -360deg;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.coregrad-string {
  background: linear-gradient(
    90deg,
    rgb(var(--color-accent-1)) 0%,
    rgb(var(--color-accent-2)) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */

#navbar-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
  gap: 30px;
  height: 100px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
}

.branding {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.branding > img {
  height: 100%;
}

.branding > p {
  /* font-family: Righteous; */
  font-size: var(--text-4);
  font-weight: 800;
}

.branding > p > span {
  font-size: 1rem;
  font-weight: 400;
}

.branding > p > span > span {
  font-family: Righteous;
}

.branding > svg {
  width: 56px;
  fill: var(--color-text);
}

#navbar-items {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 100%;
}

.navbar-item.navbar-button {
  border-radius: 50px;
  padding: 12px 25px;
  height: 100%;
  gap: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text);
}

.navbar-item.navbar-button span {
  color: var(--color-bg);
}
.navbar-item.navbar-button span:last-of-type {
  font-weight: 600;
  font-size: var(--text-2);
}

@media only screen and (max-width: 800px) {
  #navbar-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar-item.navbar-button {
    padding: 12px 15px;
  }
  
  .navbar-item.navbar-button span:last-of-type {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .branding > p {
    font-size: var(--text-3);
    font-weight: 800;
  }

  .branding > p > span {
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  #navbar-container {
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Divider                                  */
/* -------------------------------------------------------------------------- */

.body-divider {
  width: 100%;
  height: var(--divider-size);
  padding: calc(var(--divider-size) / 2) 100px 0 100px;
}

.body-divider hr {
  border: none;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-shades_4);
}

/* -------------------------------------------------------------------------- */
/*                                 Containers                                 */
/* -------------------------------------------------------------------------- */

.body-container {
  width: 100%;
  min-height: calc(100vh - var(--divider-size) * 2 + 1px);
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-max);
  /* opacity: 0; */
}

/* .body-container-visible {
  opacity: 1;
} */

/* -------------------------------------------------------------------------- */
/*                                First section                               */
/* -------------------------------------------------------------------------- */

#s1 {
  max-height: calc(100vh - var(--divider-size) * 2 + 1px);
}

/* ---------------------------- Section 1 Marquee --------------------------- */


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquees {
  width: 100vw;
  min-height: calc(100vh - var(--divider-size) * 2);
  display:flex;
  position: absolute;
  flex-direction: column;
  justify-content: end;
}

.marquee {
  display: block;
  height: calc((100vw / var(--marquee-count) - 20px * 2) * 9 / 16 + 40px);
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  z-index: -101;
}

.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  margin: 20px 0;
}

.marquee-blocks {
  width: calc(100% / (var(--marquee-count) * 2) - 20px * 2);
  height: calc((100vw / var(--marquee-count) - 20px * 2) * 9 / 16);
  background: var(--color-shades_3);
  border-radius: var(--rounding-size);
  display: inline-block;
  margin: 0 20px;
  float: left;
  transition: all .2s ease-out;
}

.marquee:first-of-type .marquee--inner {
  animation: marquee 20s linear infinite;
}
.marquee:last-of-type .marquee--inner {
  animation: marquee 25s linear infinite reverse;
}

.marquee-inner > span {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 1100px) {

  .marquees {
    width: 200vw;
  }

  .marquee {
    height: calc((200vw / var(--marquee-count) - 20px * 2) * 9 / 16 + 40px);
    width: 200vw;
  }

  .marquee-blocks {
    height: calc((200vw / var(--marquee-count) - 20px * 2) * 9 / 16);
  }
}

@media only screen and (max-width: 500px) {

  .marquees {
    width: 300vw;
  }

  .marquee {
    height: calc((300vw / var(--marquee-count) - 20px * 2) * 9 / 16 + 40px);
    width: 300vw;
  }

  .marquee-blocks {
    height: calc((300vw / var(--marquee-count) - 20px * 2) * 9 / 16);
  }
}

/* ----------------------- Main content for section 1 ----------------------- */

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 0 20vh 0;
  box-sizing: border-box;
  max-width: 1517px;
  width: 80%;
}

.header-blend {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  position: absolute;
  z-index: -1;
  border-radius: 500px;
  filter: blur(50px);
}

.header-content > h1, .header-content > h1 > span {
  animation: 0.5s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 slideInFromLeft;
  font-size: var(--text-7);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.header-content > p {
  animation: slideInFromLeft 0.5s cubic-bezier(0, 0.55, 0.45, 1) 0.2s 1 normal both;
  opacity: 0;
  position: relative;
  top: -2rem;
  max-width: 739px;
  font-size: var(--text-2);
}

.header-content > a {
  border-radius: 100px;
  padding: 10px 60px;
  gap: 10px;
  height: min-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--coregrad);
  box-shadow: 0px 0px 12px 0px rgba(var(--color-accent-1), 0.5);
}
.header-content > a * {
  font-size: var(--text-3);
  font-weight: 600;
  color: #FFF;
}
.header-content > a > span {
  font-size: var(--text-2);
  position: relative;
  /* left: calc(var(--text-2) / 2); */
  /* uncomment when using arrow */
}

@media only screen and (max-width: 1300px) {
  .header-content {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header-content > h1, .header-content > h1 > span {
    font-size: var(--text-6);
  }

  .header-content > p {
    top: -1rem;
  }
  
  .header-content > a {
    padding: 10px 20px;
  }
}

@media only screen and (max-height: 800px), (max-width: 460px) {
  .header-content > h1, .header-content > h1 > span {
    font-size: var(--text-5);
  }
  
  .header-content > p {
    font-size: 1rem;
    top: -1rem;
  }

  .header-content > a * {
    font-size: var(--text-2);
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Section 2                                 */
/* -------------------------------------------------------------------------- */

#s2 {
  display: flex;
  height: calc(100vh - var(--divider-size) * 2 + 1px);
}

#s2 > * {
  width: 50%;
}

.background-image {
  z-index: -101;
}

.background-image img {
  position: relative;
  left: -200px;
  width: 800px;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.1s;
  translate: -20%;
  filter: drop-shadow(0px 2px 10px rgba(var(--color-accent-1), 0.5));
}

#s2.body-container-visible .background-image img {
  translate: 0;
  animation: shubanim 3s cubic-bezier(0.76, 0, 0.24, 1) 0ms infinite;
}

.about-core h2 {
  position: relative;
  left: -30%;
  font-size: var(--text-2);
}

.about-core h1 {
  position: relative;
  left: -20%;
  width: calc(20% + 50vw - 65px);
  font-size: var(--text-6);
  margin-bottom: 50px;
}

.about-card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  max-width: 700px;
  gap: calc(65px / 2);
}

.about-card-grid:hover .about-card {
  opacity: 0.2;
}

.about-card {
  scale: 0;
  rotate: -10deg;
  background-color: var(--color-section_bg);
  border: var(--size-section_border) solid var(--color-section_border);
  width: 300px;
  height: 300px;
  border-radius: var(--rounding-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 10px;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
    background-color 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), 
    opacity 0.1s linear,
    scale 1s cubic-bezier(0.22, 1, 0.36, 1) calc(75ms * var(--order)),
    rotate 1s cubic-bezier(0.22, 1, 0.36, 1) calc(75ms * var(--order))
    ;
}

#s2.body-container-visible .about-card {
  scale: 1;
  rotate: 0deg;
}

.about-card-grid .about-card:hover {
  transform: translateY(-10px) rotate(0.5deg);
  opacity: 1;
}

.about-card span {
  font-size: 3rem !important;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.about-card h3 {
  font-size: var(--text-2);
}

.about-card p {
  font-size: 1rem;
}

@media only screen and (max-width: 1300px) {
  #s2 {
    height: max-content;
  }
  
  #s2 > * {
    width: 100%;
  }

  .background-image {
    display: none;
  }

  .about-core {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .about-core h2 {
    position: initial;
    font-size: var(--text-1);
  }

  .about-core h1 {
    position: initial;
    width: 100%;
    font-size: var(--text-2);
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .about-card-grid {
    justify-content: center;
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Coming soon                                */
/* -------------------------------------------------------------------------- */

#s3 {
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
  position: relative;
}

#s3 h1 {
  font-size: var(--text-4);
  line-height: var(--text-5);
  margin: 0 0 20px 0;
}

#s3 * {
  transition: translate 1s cubic-bezier(0.22, 1, 0.36, 1) 0.1s;;
  translate: -40% 0;
  opacity: 0;
}

#s3.body-container-visible * {
  translate: 0;
  opacity: 1;
}

@media only screen and (max-width: 1300px) {
  .behind-text {
    position: static;
    white-space: nowrap;
    opacity: 1;
    filter: none;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

#footer-body {
  width: 100vw;
  min-height: initial;
  height: min-content;
  padding: 0 0 50px 0;
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1) 0.1s;
  opacity: 0;
  transform: scale(0.5);
  display: block;
}

#footer-body.body-container-visible {
  translate: 0 0;
  opacity: 1;
  transform: scale(1);
}

/* ----------------------------------- Top ---------------------------------- */

#footer-top, #footer-bottom {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 100px;
}

#footer-top {
  margin: 0 0 100px 0;
}

/* -------------------------------- Top left -------------------------------- */

#footer-top-left {
  height: 52px;
  width: max-content;
}

.core-branding {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.core-branding > img {
  height: 100%;
}

.core-branding > p {
  font-size: var(--text-2);
  font-weight: 800;
}

/* ------------------------------- Top center ------------------------------- */

#footer-top-center {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: left;
  padding: 1rem 100px;
  flex-wrap: wrap;
}

#footer-top-center > ul {
  list-style: none;
  display: block;
  width: 150px;
}

#footer-top-center > ul > li:first-of-type {
  color: var(--color-subtext);
  margin: 0 0 10px 0;
}

#footer-top-center > ul > li:not(:first-of-type) {
  line-height: var(--text-3);
  transition: translate 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#footer-top-center > ul > li:not(:first-of-type):hover {
  translate: 10px 0;
  font-weight: 600;
}
/* -------------------------------- Top right ------------------------------- */

#footer-top-right {
  display: flex;
  gap: 22px;
}
#footer-top-right > * {
  transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#footer-top-right > a > svg {
  fill: var(--color-subtext);
}

#footer-top-right > *:hover {
  translate: 0 10px;
  scale: 1.1;
}

/* --------------------------------- Bottom --------------------------------- */

/* ------------------------------- Responsive ------------------------------- */

@media only screen and (max-width: 1100px) {

  #footer-top, #footer-bottom {
    flex-wrap: wrap;
  }

  #footer-top {
    gap: 20px;
    margin: 0 0 40px 0;
  }

  #footer-top-center {
    width: 100%;
    padding: 0;
  }

}